<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error</title>
  <style>
    body {
      font-family: "Poppins", sans-serif;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .error-container {
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    h2 {
      margin-bottom: 15px;
      color: #f00; /* Red for error emphasis */
    }

    p {
      margin-bottom: 20px;
      color: #666;
    }

    button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }

    button:hover {
      background-color: #3e8e41;
    }
  </style>
</head>
<body>
  <div class="error-container">
    <h2>TRY AGAIN</h2>
    <p>Message from Server: <b><%=message%></b> </p>
    <form action="/ig/users">
      <button>Try Again</button>
    </form>
  </div>
</body>
</html>